body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.descuento{
    background: #1CD1B0;
    height: 38px;
    font-size: 15px;
}
.d1{
    position: relative;
    top: 10px;
    left: 27px;
}
.heroes{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),linear-gradient(0deg, #00669F, #00669F);
    border: 1px solid #000000;
    box-shadow: 0 10px 7px 0 #00000040;    
    height: 101px;
    width: 100%;
    top: 38px;
    position: fixed;
}
.d2{
    position: absolute;
    top: 25px;
    left: 28px;
    font-size: 41px;
}



/*----Cartas heroes----------------*/
section{
    position: relative;
    height: 1000px;
    width: 1024px;
    left:  25%;
}
i{
    position: absolute;
    top: 25px;
    left: 20px;
}
/*------------------------------*/
.batman{
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 300px;
    height: 529px;
    position: absolute;
    top: 292px;
    left: 32px;
    
}
.fondoB,.fondoB2{
    background-image: url(img/fondoB.png);
    width: 300px;
    height: 194px;
}
.perfilB,.perfilB2{
    background-image: url(img/perfilB.png);
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    position: absolute;
    top: 130px;
    left: 90px;
}
.nombre{
    font-size: 30px;
    position: absolute;
    top: 265px;
    left: 90px;
}
.texto{
    color: #333333;
    width: 267px;
    height: 170px;
    position: absolute;
    top: 320px;
    left: 20px;
    text-align: left;
}
.verMas{
    background-color: #00669F;
    color: #F3F3F3;
    width: 128.7841033935547px;
    height: 48.523075103759766px;
    font-size: 15px;
    position: absolute;
    top: 465px;
    left: 90px;
}

/*------------------------------*/
.harley{
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 300px;
    height: 529px;
    position: absolute;
    top: 292px;
    left: 362px;
}
.fondoH{
    background-image: url(img/fondoHarley.png);
    width: 300px;
    height: 194px;
}
.perfilH{
    background-image: url(img/perfilH.png);
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    position: absolute;
    top: 130px;
    left: 90px;
}
.nombreH{
    font-size: 30px;
    position: absolute;
    top: 265px;
    left: 65px;
}
/*------------------------------*/
.batman2{
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 300px;
    height: 529px;
    position: absolute;
    top: 292px;
    left: 692px;
}

/*---------------------------*/
footer{
    background: #00669F;
    height: 51px;
    color: #FFF9F9;
    font-size: 16px;
    position: relative;
}
.derechos{
    position: absolute;
    top: 12.5px;
    left: 16px;
}